* {
    font-weight: 700;
    font-size: 18px;
  }
  h1{
    text-align: center;
    font-size: 28px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blue;
  }
  div > p {
    background-color: yellow;
  }
  
  span {
    background-color: aqua;
  }
  
  .text {
    background-color: blue;
  }
  
  #some-text {
    background-color: red;
  }
  
  [title] {
    background-color: green;
  }
  
  p>em {
    background-color: blueviolet;
  }
  
  p i {
    background-color: brown;
  }
  
  p.text[title] {
    background-color: pink;
  }
  
  p#second-text.text.second-text[title] {
    background-color: orange;
  }
  